<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
    <link href="style.css" rel="stylesheet" />
    <title>How to Believe in Yourself</title>
</head>

<body ng-app="myApp">
    <div id="appContainer" ng-controller="appController">
        <nav id="navContainer">
            <a ng-repeat="link in links.pages" class="nav-item" href={{link.actuallink}}>{{link.linkname}}</a>
            <div class="btn-container">
                <div ng-click="changePage(-1)" id="backBtn" class="">Back</div>
                <div ng-click="changePage(1)" id="nextBtn" class="">Next</div>
            </div>
        </nav>
        <div id="contentContainer" ng-controller="appController">
            <div ng-view></div>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>