/* Reset css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of reset css */

html,
body {
    overflow: hidden;
    height: 100%;
}

body {
    background-color: #858ae3;
}

/* End of extra main element css */

#appContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    max-width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#navContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 3px;
    padding-right: 5px;
    max-width: 100%;
    height: 100%;
    background-color: #858ae3;
    list-style-type: none;
}

#contentContainer {
    display: flex;
    flex: 3;
    max-width: 100%;
    height: 100%;
}

/* End of flex containers to organize content */

.nav-item {
    display: block;
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #858ae3;
    background-color: #97dffc;
    border: 1px solid #858ae3;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}

.nav-item:hover {
    color: #fefefe;
    background-color: #574ae2;
}

.active {
    color: #fefefe;
    background-color: #574ae2;
}

.btn-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: auto auto;
    padding: 25px;
}

#backBtn,
#nextBtn {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    height: 10px;
    line-height: 10px;
    color: #858ae3;
    background-color: #97dffc;
    border: 1px solid #858ae3;
    font-size: 20px;
    font-weight: 10px;
}

#backBtn:hover,
#nextBtn:hover {
    cursor: pointer;
    color: #fefefe;
    background-color: #574ae2;
}

/* End of side nav stuff */

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gray-opaque-background {
    opacity: .9;
    background-color: #000;
    width: 100%;
    height: 100%;
}

.pageContent {
    margin: auto auto;
    padding: 40px;
    padding-top: 20%;
    height: 100vh;
}

.pageTitle {
    opacity: 1;
    color: #fefefe;
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
}

.pageDesc {
    opacity: 1;
    color: #fefefe;
    font-size: 30px;
    font-weight: lighter;    
    text-align: left;
}